@import '../../../assets/scssGlobal/variables';

@mixin menuToggle($topOffset) {
  position: absolute;
  top: $topOffset;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  transition: all 0.3s ease-in-out;
  background-color: $horizon-400;
  color: $horizon-20;
  border-radius: 0 0 20px 20px;
}

.menu{
  @include menuToggle(0px);
}
.menu_hidden{
  @include menuToggle(-15%);
}
.menu__link{
  display: block;
  font-size: 1.5em;
  padding: 0.2em 0;
  text-align: center;
  color: $horizon-20;
  border-radius: 10px;
}
.menu__link_active{
  @extend .menu__link;
  background-color: $horizon-100;
}
