@import '../assets/scssGlobal/variables';

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.subpage{
  text-align: center;
  padding: 150px 0;
  background-color: dimgray;
  font-size: 2em;
}